<li>
	{{burger_name}}
{{!-- 
	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{burger_eaten}}">
		{{#if burger_eaten}}DEVOUR BURGER!{{else}}VOMIT BURGER and enjoy it again{{/if}}
	</button> --}}


	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{burger_eaten}}">
		{{#if burger_eaten}}DEVOUR BURGER!{{else}}VOMIT BURGER and enjoy it again{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
